<div class="block-login-form container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">

            <div class="block-login-form__login-container">

                <iframe ng-src="{{trustSrc(forget_password_url)}}"
                        class="lazyload iframe-loading"
                        ng-if="showIframe"
                        name="iframeLogin"
                        id="iframeLogin"
                        frameborder="0"></iframe>

                <div style="color: red; padding: 150px 0 ;" ng-if="!showIframe">
                    User logged in
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5  block-login-form__register-container">

            <div class="cta-block-button red">
                <p class="cta-block-button__text ng-binding" ng-bind-html="'login.cta.title' | translate" ></p>

                <div class="cta-block-button__wrapper">

                    <a ui-sref="top.sign_up_page"
                       class="btn btn-primary cta-block-button__button"
                       ng-bind-html="'login.cta.register' | translate"></a>

                </div>

                <div class="cta-block-button__white-box"></div>
            </div>
        </div>
    </div>
</div>
